<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vuthaihung.fancydialouge"
    android:versionCode="5"
    android:versionName="1.0.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FakeMessenger">
        <activity
            android:name=".ui.mainScreen.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".service.NotificationBroadCast"
            android:enabled="true"
            android:exported="false"></receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.facebook.sdk.CodelessDebugLogEnabled"
            android:value="true" />

        <activity
            android:name=".ui.mainScreen.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.detailScreen.ConversationDetailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.videoScreen.VideoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.callScreen.CallActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.settingScreen.SettingConvesationActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.addDateTimeScreen.DateTimeActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.selectSticker.StickerActivity" />
        <activity android:name=".ui.addMember.AddMemberActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>